/* Rose Pine Dawn Theme for swaync */
* {
    all: unset;
    font-size: 14px;
    font-family: "Hack Nerd Font Mono", sans-serif;
    transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(40, 105, 131, 0.05);
    border-radius: 12.6px;
    margin: 18px;
    background-color: #faf4ed;
    color: #575279;
    padding: 0;
    border: 1px solid #286983;
}

.floating-notifications.background .notification-row .notification-background .notification {
    padding: 7px;
    border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 rgba(180, 99, 122, 0.8);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
    color: #575279;
    font-size: 16px;
    font-weight: bold;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
    color: #797593;
    font-size: 11px;
    margin-right: 18px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
    color: #575279;
    font-size: 13px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius: 7px;
    color: #faf4ed;
    background-color: #286983;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid #286983;
    transition: all 200ms ease-in-out;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    background-color: #56949f;
    color: #faf4ed;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    background-color: #fffaf3;
    color: #575279;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: #faf4ed;
    background-color: #b4637a;
    transition: all 200ms ease-in-out;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background-color: #d7827e;
    color: #faf4ed;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background-color: #907aa9;
    color: #faf4ed;
}

.control-center {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(40, 105, 131, 0.05);
    border-radius: 12.6px;
    margin: 18px;
    background-color: #faf4ed;
    color: #575279;
    padding: 14px;
    border: 1px solid #286983;
}

.control-center .widget-title {
    color: #575279;
    font-size: 1.3em;
    font-weight: bold;
}

.control-center .widget-title > button {
    font-size: 1rem;
    color: #faf4ed;
    text-shadow: none;
    background-color: #286983;
    border: 1px solid #286983;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: all 200ms ease-in-out;
}

.control-center .widget-title > button:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    background-color: #56949f;
    color: #faf4ed;
}

.control-center .widget-title > button:active {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    background-color: #fffaf3;
    color: #575279;
}

.control-center .notification-row .notification-background {
    border-radius: 7px;
    background-color: #fffaf3;
    color: #575279;
    margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
    padding: 7px;
    border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 rgba(180, 99, 122, 0.8);
}

.control-center .notification-row .notification-background .notification .notification-content {
    margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
    color: #575279;
    font-size: 16px;
    font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
    color: #797593;
    font-size: 11px;
    margin-right: 18px;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
    color: #575279;
    font-size: 13px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius: 7px;
    color: #faf4ed;
    background-color: #286983;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: 1px solid #286983;
    transition: all 200ms ease-in-out;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    background-color: #56949f;
    color: #faf4ed;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    background-color: #fffaf3;
    color: #575279;
}

.control-center .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: 6.3px;
    color: #faf4ed;
    background-color: #b4637a;
    transition: all 200ms ease-in-out;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: #d7827e;
    color: #faf4ed;
}

.control-center .notification-row .notification-background .close-button:active {
    background-color: #907aa9;
    color: #faf4ed;
}

.close-button {
    color: #faf4ed;
    background-color: #b4637a;
    border-radius: 6.3px;
    transition: all 200ms ease-in-out;
}

.close-button:hover {
    background-color: #d7827e;
    color: #faf4ed;
}

.close-button:active {
    background-color: #907aa9;
    color: #faf4ed;
}

.notification.critical progress {
    background-color: #b4637a;
}

.notification.low progress,
.notification.normal progress {
    background-color: #286983;
}

.control-center .notification-row .notification-background .notification .notification-content .app-name {
    color: #797593;
    font-size: 12px;
    font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .app-icon {
    color: #575279;
}